@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: rgb(31 146 255);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    /* color: #00adff; */
    box-shadow: rgb(31 146 255) 0px 1px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
